html
{
    font-family:monospace;
    margin: 20px;
    font-size: 15px;
    height: 100%;
    color: rgb(110, 4, 110);
}

body
{
    background-color: rgb(181, 179, 179);
}
.top_heading
{
    color: rgb(40, 40, 169);
    letter-spacing: 3px;
    text-align: center;
}

input, select, option, button
{
    font-family:monospace;
    height: 30px;
    border: 4px solid blue;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 0 15px 0px #0681c3;
}

select
{
    width: 6rem;
    text-align: center;
}



button
{
    width: 25rem;
    height: 3rem;
    background-color: rgb(196, 196, 196);
    border-radius: 2rem;
    color: black;

}

button:hover
{
    background-color:blue;
    border-color: rgb(196, 196, 196);
    color: white;
    cursor: pointer;
}

.reset
{
    width: 10rem;
    background-color: rgba(255, 0, 0, 0.246);
    border: red solid 2px;
    color: white;
    
}
.reset:hover
{
    background-color: red;
    
    color: white;
}

.main_form {
    justify-content: left;
}

form {
    border: 0.1rem solid #b3a9a9;
    padding: 1rem;
    border-radius: 0.5rem;
}